.myAppointment {
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.small {
    display: flex;
    width: 5%;
    justify-content: center;
}

.medium {
    display: flex;
    width: 15%;
    justify-content: center;
}

.large {
    display: flex;
    width: 50%;
    justify-content: center;
}

.borderBottom {
    height: 1px;
    width: 95%;
    background-color: #4a4a4ac4;
    position: relative;
    left: 2.5%;
}

.active {
    height: 1em;
    width: 1em;
    background-color: #4F7942;
    border-radius: 100%;
}

.cancelled {
    height: 1em;
    width: 1em;
    background-color: #D72638;
    border-radius: 100%;
}

.myButon {
    padding: .5em 2em;
    border: 1px solid #D72638;
    border-radius: 15px;
    color: #D72638;
    transition: background-color ease 0.3s, transform ease 0.3s;
}

.myButon:hover {
    background-color: #D72638;
    color: #F5F1E3;
    transform: scale(1.1);
}
.myButon:disabled {
    color: #4a4a4ac4;
    border: 1px solid #4a4a4ac4;
    cursor: default;
}

.myButon:disabled:hover {
    background-color: #172c49;
    color: #4a4a4ac4;
    transform: none;
}

