.container {
    width: 70vw;
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap: 1em;
}

.myIntro {
    display: flex;
    justify-content: space-between;
}

.myList {
    display: flex;
    background-color: #172c49;
    border-radius: 10px;
    border: 1px solid #4a4a4ac4;
    padding: 0.6em;
}

.myAppointments {
    display: flex;
    flex-direction: column;
    background-color: #172c49;
    border-radius: 10px;
    border: 1px solid #4a4a4ac4;
    padding-top: 0.3em;
    padding-bottom: 1.2em;
}

.small {
    display: flex;
    width: 5%;
    justify-content: center;
}

.medium {
    display: flex;
    width: 15%;
    justify-content: center;
}

.large {
    display: flex;
    width: 50%;
    justify-content: center;
}

.subtitle {
    font-size: 1.25em;
}

.myButton {
    transition: color ease 0.3s, transform ease 0.3s;
}

.myButton:hover {
    color: #E6AF2E;
    transform: scale(1.1);
}