.myNavbar {
    height: 7.5em;
    background-color: #F5F1E3;
    color: #1D3557 ;
    display: flex;
    align-items: end;
    padding-bottom: 1em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.navLogo{
    width: 15vw;
    height: 100%;
}

.navViews {
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1em;
}

.navUser {
    width: 15vw;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 1.5em;
    gap: 1.5em;
}

.myViews {
    display: flex;
    gap: 1.5em;
}

.imgLogo{
    height: 80%;
}